//Primer sistema de colores
$white: #fff;
$Platinum: #E6E7E7;
$Light-gray: #E6E7E7;

//Segundo sistema de colores
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

//Tercer sistema de colores
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;

//Tipografia
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

//peso de fuentes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

//buttons size
$medium-button: 10rem;
$small-button:7rem;

//buttons size
